@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   background: rgb(113, 29, 192);
}

header, footer {
  background: rgb(113, 29, 192);
}

.tree {
  /* animation: sway 4s infinite alternate; */
}

.filter-buttons {
  width: auto;
  margin: auto auto;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

}

.filter-buttons div{
  margin: 5px; /* Changed margin */
  padding: 10px;
  width: auto; /* Increased width */
  height: 50px; /* Decreased height */
  text-align: center;
  background-color: #6B2895;
  color: white; /* Changed text color */
  font-size: 16px; /* Adjusted font size */
  border-radius: 20px;
  border: none; /* Removed border */
  cursor: pointer; /* Added cursor pointer */
}



@keyframes sway {
0% {
  transform: rotate(0deg);
}

50% {
  transform: rotate(10deg);
}

100% {
  transform: rotate(0deg);
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
